# This is a basic workflow to help you get started with Actions

name: my-github-actions-basics

on:
  push:
     branches: 
       - main
  pull_request:
    branches: 
       - '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  my_testing:
    runs-on: ubuntu-latest

    steps:
    - name: Print hello message
      run: echo "Hello World from testing"
    
          
  my_deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Print hello message
      run: echo "Hello World from deploying"
    
