# This is a basic workflow to help you get started with Actions

name: my-github-actions-basics

env:
  APPLICATION_NAME: "My Flask"
  DEPLOY_PACKAGE_NAME: "flask-deploy-ver-${{ github.sha }}"

on:
  push:
     branches: 
       - main
  pull_request:
    branches: 
       - '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  my_testing:
    runs-on: ubuntu-latest

    steps:
    - name: Print hello message
      run: echo "Hello World from testing"
      
    - name: Execute few command
      run: |
        echo "Hello message 1"
        echo "Hello message 2"
        echo "Application name: ${{ env.APPLICATION_NAME }}"
      
    - name: Git clone my repo
      uses: actions/checkout@v1
      
    - name: List current folder
      run: ls -la
      

  my_deploy:
    runs-on: ubuntu-latest
    
    needs: my_testing
    
    env:
      VAR1: "Deploy variable 1"
      VAR2: "Deploy variable 2"
    
    steps:
    - name: Print hello message
      run: echo "Hello World from deploying"
      
    - name: Print some vars
      env:
        LOCAL_VAR: "Task local var"
      run: |
        echo "Var1 = ${{ env.VAR1 }}"
        echo "Var2 = ${{ env.VAR2 }}"
        echo "Local var = $LOCAL_VAR"
      
    - name: Print deployement package
      run: | 
        echo "Deploy package name: ${{ env.DEPLOY_PACKAGE_NAME }}"
        
    - name: Test AWS
      run: aws --version
     
    - name: Test zip
      run: zip --version
    
